div.box {
	margin-top: 50px;
	background-color:yellow;
	color:#00090;
	border-style:double;
	padding: 10px;
	border-color: #00090
}


h2 {
	background-color:black;
	color:white;
	text-decoration:underline
}

dt {
	font-weight:bold
	
}


